<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nisargi</title>
    <link rel="stylesheet" href="./css/main.css">
</head>
<body>
    <nav class="top-nav">
        <div class="main-nav">
            <div class="left-nav">
                <h3>Nisargi</h3>
            </div>

            <div class="middle-nav flex-row">

                <div class="cat-btn">
                    <p>Category</p>
                    <img src="./images/icons/cat-down.svg" alt="">
                </div>

                <div class="nav-btn">
                    <p>Today's Deal</p>
                </div>

                <div class="nav-btn">
                    <p>Farmer's Zone</p>
                </div>

                <div class="nav-btn">
                    <p>About Us</p>
                </div>
                
            </div>
            <div class="right-nav flex-row">

                <div class="search-bar">
                    <input type="text" placeholder="search here ... ">
                    <img src="./images/icons/search.svg" alt="">
                </div>

                <div class="nav-btn">
                    <img src="./images/icons/user-circle.svg" alt="">
                    <p>Account</p>
                </div>

                <div class="nav-btn">
                    <img src="./images/icons/cart.svg" alt="">
                    <p>Cart</p>
                </div>
            </div>
        </div>
    </nav>



    <section class="top-footer p-2 flex-row space-between">
        <div class="first-block block flex-column">
            <h3>Shop</h3>
            <a href="#" class="link">Sitemap</a>
            <a href="#" class="link">Nisargi Blog</a>
            <a href="#" class="link">Random Product</a>
        </div>

        <div class="second-block block flex-column">
            <h3>Sell</h3>
            <a href="#" class="link">Sell on Nisargi</a>
            <a href="#" class="link">Farmer's Zone</a>
            <a href="#" class="link">Forum</a>
        </div>

        <div class="third-block block flex-column">
            <h3>About</h3>
            <a href="#" class="link">Nisargi</a>
            <a href="#" class="link">Policies</a>
            <a href="#" class="link">Terms & Use</a>
            <a href="#" class="link">Legal Imprints</a>
        </div>

        <div class="fourth-block block flex-column">
            <h3>Help</h3>
            <a href="#" class="link">Help Center</a>
            <a href="#" class="link">Privacy Setting</a>
            <p>Find Us</p>
            <p>Kathmandhu, Nepal</p>
            <p>number not available</p>
        </div>
    </section>
    <footer class="flex-row px-2 space-between">
        <p>Nepal | English | Rs.(NPR)</p>
        <p>&copy; 2023 Nisargi</p>
    </footer>
</body>
</html>