<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Producer Home</title>
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/producer-home.css">
</head>

<body>
    <nav class="top-nav">
        <div class="container navigation">
            <div class="left-nav">
                <a href="#" class="Link nisargi">Nisargi</a>
            </div>

            <div class="middle-nav">
                <a href="#" class="Link nav-btn">
                    <p>Products</p>
                    <img src="../images/icons/shopping-bag.svg" alt="" class="icon">
                </a>
                <a href="#" class="Link nav-btn">
                    <p>Orders</p>
                    <img src="../images/icons/queue-list.svg" alt="" class="icon">
                </a>
                <a href="#" class="Link nav-btn">
                    <p>Reviews</p>
                    <img src="../images/icons/star.svg" alt="" class="icon">
                </a>
                <a href="#" class="Link nav-btn">
                    <p>Requests</p>
                    <img src="../images/icons/clipboard.svg" alt="" class="icon">
                </a>

            </div>

            <div class="right-nav">
                <a href="#" class="Link nav-btn">
                    <p>Buyer's Zone</p>
                    <img src="../images/icons/cart.svg" alt="" class="icon">
                </a>
                <a href="#" class="Link nav-btn">
                    <p>Sign In</p>
                    <img src="../images/icons/user-circle.svg" alt="" class="icon">
                </a>
            </div>
        </div>
    </nav>

    <div class="first-hero container">
        <h3 class="heading">Dashboard</h3>
        <div class="blocks">
            <div class="sales block">
                <div class="desc">
                    <p class="amt">Rs.12300</p>
                    <p class="name">total sales</p>
                </div>
                <img src="../images/icons/cart.svg" alt="" class="image">
            </div>

            <div class="block">
                <div class="desc">
                    <p class="amt">125</p>
                    <p class="name">total orders</p>
                </div>
                <img src="../images/icons/queue-list.svg" alt="" class="image">
            </div>

            <div class="block">
                <div class="desc">
                    <p class="amt">1250</p>
                    <p class="name">Customers</p>
                </div>
                <img src="../images/icons/user-circle.svg" alt="" class="image">
            </div>

            <div class="block">
                <div class="desc">
                    <p class="amt">4.5</p>
                    <p class="name">Avg. Rating</p>
                </div>
                <img src="../images/icons/star.svg" alt="" class="image">
            </div>
        </div>
    </div>

    <div class="general-orders container">
        <h3 class="heading">General Orders</h3>
        <table class="order-table">
            <thead>
                <th>S.N.</th>
                <th>Date</th>
                <th>Buyer Name</th>
                <th>Product Name</th>
                <th>Quantity</th>
                <th>Amount</th>
                <th>Status</th>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>1202-20-02</td>
                    <td>Raju Kumar</td>
                    <td>Hariyo msndkjjdjk</td>
                    <td>129</td>
                    <td>1029</td>
                    <td>ongoing</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>1202-20-02</td>
                    <td>Raju Kumar</td>
                    <td>Hariyo msndkjjdjk</td>
                    <td>129</td>
                    <td>1029</td>
                    <td>ongoing</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>1202-20-02</td>
                    <td>Raju Kumar</td>
                    <td>Hariyo msndkjjdjk</td>
                    <td>129</td>
                    <td>1029</td>
                    <td>ongoing</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>1202-20-02</td>
                    <td>Raju Kumar</td>
                    <td>Hariyo msndkjjdjk</td>
                    <td>129</td>
                    <td>1029</td>
                    <td>ongoing</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>1202-20-02</td>
                    <td>Raju Kumar</td>
                    <td>Hariyo msndkjjdjk</td>
                    <td>129</td>
                    <td>1029</td>
                    <td>ongoing</td>
                </tr>

            </tbody>
        </table>
    </div>
</body>

</html>