<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Producer Home</title>
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/producer-oneOrder.css">
</head>

<body>
    <nav class="top-nav">
        <div class="container navigation">
            <div class="left-nav">
                <a href="#" class="Link nisargi">Nisargi</a>
            </div>

            <div class="middle-nav">
                <a href="#" class="Link nav-btn">
                    <p>Products</p>
                    <img src="../images/icons/shopping-bag.svg" alt="" class="icon">
                </a>
                <a href="#" class="Link nav-btn">
                    <p>Orders</p>
                    <img src="../images/icons/queue-list.svg" alt="" class="icon">
                </a>
                <a href="#" class="Link nav-btn">
                    <p>Reviews</p>
                    <img src="../images/icons/star.svg" alt="" class="icon">
                </a>
                <a href="#" class="Link nav-btn">
                    <p>Requests</p>
                    <img src="../images/icons/clipboard.svg" alt="" class="icon">
                </a>

            </div>

            <div class="right-nav">
                <a href="#" class="Link nav-btn">
                    <p>Buyer's Zone</p>
                    <img src="../images/icons/cart.svg" alt="" class="icon">
                </a>
                <a href="#" class="Link nav-btn">
                    <p>Sign In</p>
                    <img src="../images/icons/user-circle.svg" alt="" class="icon">
                </a>
            </div>
        </div>
    </nav>

    <div class="first-hero container">
        <div class="orderBill">
            <div class="headers">
                <h3 class="heading">Order: #0192300</h3>
                <p>Date: 1020-02-03</p>
            </div>
            <p class="orderInfo">Order By: Nikesh Adhikari</p>
            <p class="orderInfo">Order In: addressdsdsjd, lsdjlsjdljs</p>

            <p class="products orderInfo">Products:</p>
            <div class="orders">
                <div class="oneOrder">
                    <img src="../../uploads/demo_20230606174709.jpg" alt="">
                    <p class="name">This is the name</p>
                    <div class="prodQty">
                        <h4>Rs. 130930</h4>
                        <p>12 kg</p>
                    </div>
                </div>

                <div class="oneOrder">
                    <img src="../../uploads/demo_20230606174709.jpg" alt="">
                    <p class="name">This is the name</p>
                    <div class="prodQty">
                        <h4>Rs. 130930</h4>
                        <p>12 kg</p>
                    </div>
                </div>

                <div class="oneOrder">
                    <img src="../../uploads/demo_20230606174709.jpg" alt="">
                    <p class="name">This is the name</p>
                    <div class="prodQty">
                        <h4>Rs. 130930</h4>
                        <p>12 kg</p>
                    </div>
                </div>

                <div class="oneOrder">
                    <img src="../../uploads/demo_20230606174709.jpg" alt="">
                    <p class="name">This is the name</p>
                    <div class="prodQty">
                        <h4>Rs. 130930</h4>
                        <p>12 kg</p>
                    </div>
                </div>
            </div>

            <div class="total container">
                <p>Total:</p>
                <p>Rs. 2039</p>
            </div>
            <div class="buttons">
                <a href="#" class="btn">Back</a>
                <a href="#" class="btn">Deliver Now</a>
            </div>
        </div>

    </div>
    
</body>

</html>