<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Producer Home</title>
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/producer-reviews.css">
</head>

<body>
    <nav class="top-nav">
        <div class="container navigation">
            <div class="left-nav">
                <a href="#" class="Link nisargi">Nisargi</a>
            </div>

            <div class="middle-nav">
                <a href="#" class="Link nav-btn">
                    <p>Products</p>
                    <img src="../images/icons/shopping-bag.svg" alt="" class="icon">
                </a>
                <a href="#" class="Link nav-btn">
                    <p>Orders</p>
                    <img src="../images/icons/queue-list.svg" alt="" class="icon">
                </a>
                <a href="#" class="Link nav-btn">
                    <p>Reviews</p>
                    <img src="../images/icons/star.svg" alt="" class="icon">
                </a>
                <a href="#" class="Link nav-btn">
                    <p>Requests</p>
                    <img src="../images/icons/clipboard.svg" alt="" class="icon">
                </a>

            </div>

            <div class="right-nav">
                <a href="#" class="Link nav-btn">
                    <p>Buyer's Zone</p>
                    <img src="../images/icons/cart.svg" alt="" class="icon">
                </a>
                <a href="#" class="Link nav-btn">
                    <p>Sign In</p>
                    <img src="../images/icons/user-circle.svg" alt="" class="icon">
                </a>
            </div>
        </div>
    </nav>

    <div class="first-hero container">

        <div class="cards">
            <div class="review card">
                <p class="title">Total Review</p>
                <p>102,00,00</p>
            </div>

            <div class="rating card">
                <p class="title">Average Rating</p>
                <div class="rate-star">
                    <p>4.0</p>
                    <div class="stars">
                        <img src="../images/icons/star.svg" alt="" class="star">
                        <img src="../images/icons/star.svg" alt="" class="star">
                        <img src="../images/icons/star.svg" alt="" class="star">
                        <img src="../images/icons/star.svg" alt="" class="star">
                        <img src="../images/icons/star.svg" alt="" class="star">
                    </div>
                </div>
            </div>

        </div>
    </div>

    <h3 class="heading container">Reviews</h3>
    <div class="container reviewsContainer">

        <div class="one-review">
            <div class="profile-img">
                <img src="../images/demo-person.jpg" alt="">
            </div>
            <div class="profile-name">
                <h3 class="name">Ram Bahadur Pokhrel</h3>
                <p class="date">2020-20-20</p>
                <p class="productName">Product: Green Apple</p>
            </div>
            <div class="para-stars">
                <div class="stars">
                    <img src="../images/icons/star.svg" alt="" class="star">
                    <img src="../images/icons/star.svg" alt="" class="star">
                    <img src="../images/icons/star.svg" alt="" class="star">
                    <img src="../images/icons/star.svg" alt="" class="star">
                    <img src="../images/icons/star.svg" alt="" class="star">
                </div>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique beatae autem laudantium eum qui aperiam alias, tempore consectetur labore fuga quae nemo? Doloremque repellat nemo cumque iusto dolorem impedit facere eaque unde error omnis.</p>
            </div>
        </div>

        <div class="one-review">
            <div class="profile-img">
                <img src="../images/demo-person.jpg" alt="">
            </div>
            <div class="profile-name">
                <h3 class="name">Ram Bahadur Pokhrel</h3>
                <p class="date">2020-20-20</p>
                <p class="productName">Product: Green Apple</p>
            </div>
            <div class="para-stars">
                <div class="stars">
                    <img src="../images/icons/star.svg" alt="" class="star">
                    <img src="../images/icons/star.svg" alt="" class="star">
                    <img src="../images/icons/star.svg" alt="" class="star">
                    <img src="../images/icons/star.svg" alt="" class="star">
                    <img src="../images/icons/star.svg" alt="" class="star">
                </div>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique beatae autem laudantium eum qui aperiam alias, tempore consectetur labore fuga quae nemo? Doloremque repellat nemo cumque iusto dolorem impedit facere eaque unde error omnis.</p>
            </div>
        </div>

        <div class="one-review">
            <div class="profile-img">
                <img src="../images/demo-person.jpg" alt="">
            </div>
            <div class="profile-name">
                <h3 class="name">Ram Bahadur Pokhrel</h3>
                <p class="date">2020-20-20</p>
                <p class="productName">Product: Green Apple</p>
            </div>
            <div class="para-stars">
                <div class="stars">
                    <img src="../images/icons/star.svg" alt="" class="star">
                    <img src="../images/icons/star.svg" alt="" class="star">
                    <img src="../images/icons/star.svg" alt="" class="star">
                    <img src="../images/icons/star.svg" alt="" class="star">
                    <img src="../images/icons/star.svg" alt="" class="star">
                </div>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique beatae autem laudantium eum qui aperiam alias, tempore consectetur labore fuga quae nemo? Doloremque repellat nemo cumque iusto dolorem impedit facere eaque unde error omnis.</p>
            </div>
        </div>

        <div class="one-review">
            <div class="profile-img">
                <img src="../images/demo-person.jpg" alt="">
            </div>
            <div class="profile-name">
                <h3 class="name">Ram Bahadur Pokhrel</h3>
                <p class="date">2020-20-20</p>
                <p class="productName">Product: Green Apple</p>
            </div>
            <div class="para-stars">
                <div class="stars">
                    <img src="../images/icons/star.svg" alt="" class="star">
                    <img src="../images/icons/star.svg" alt="" class="star">
                    <img src="../images/icons/star.svg" alt="" class="star">
                    <img src="../images/icons/star.svg" alt="" class="star">
                    <img src="../images/icons/star.svg" alt="" class="star">
                </div>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique beatae autem laudantium eum qui aperiam alias, tempore consectetur labore fuga quae nemo? Doloremque repellat nemo cumque iusto dolorem impedit facere eaque unde error omnis.</p>
            </div>
        </div>

        <div class="one-review">
            <div class="profile-img">
                <img src="../images/demo-person.jpg" alt="">
            </div>
            <div class="profile-name">
                <h3 class="name">Ram Bahadur Pokhrel</h3>
                <p class="date">2020-20-20</p>
                <p class="productName">Product: Green Apple</p>
            </div>
            <div class="para-stars">
                <div class="stars">
                    <img src="../images/icons/star.svg" alt="" class="star">
                    <img src="../images/icons/star.svg" alt="" class="star">
                    <img src="../images/icons/star.svg" alt="" class="star">
                    <img src="../images/icons/star.svg" alt="" class="star">
                    <img src="../images/icons/star.svg" alt="" class="star">
                </div>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique beatae autem laudantium eum qui aperiam alias, tempore consectetur labore fuga quae nemo? Doloremque repellat nemo cumque iusto dolorem impedit facere eaque unde error omnis.</p>
            </div>
        </div>

        <div class="one-review">
            <div class="profile-img">
                <img src="../images/demo-person.jpg" alt="">
            </div>
            <div class="profile-name">
                <h3 class="name">Ram Bahadur Pokhrel</h3>
                <p class="date">2020-20-20</p>
                <p class="productName">Product: Green Apple</p>
            </div>
            <div class="para-stars">
                <div class="stars">
                    <img src="../images/icons/star.svg" alt="" class="star">
                    <img src="../images/icons/star.svg" alt="" class="star">
                    <img src="../images/icons/star.svg" alt="" class="star">
                    <img src="../images/icons/star.svg" alt="" class="star">
                    <img src="../images/icons/star.svg" alt="" class="star">
                </div>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique beatae autem laudantium eum qui aperiam alias, tempore consectetur labore fuga quae nemo? Doloremque repellat nemo cumque iusto dolorem impedit facere eaque unde error omnis.</p>
            </div>
        </div>

        <div class="one-review">
            <div class="profile-img">
                <img src="../images/demo-person.jpg" alt="">
            </div>
            <div class="profile-name">
                <h3 class="name">Ram Bahadur Pokhrel</h3>
                <p class="date">2020-20-20</p>
                <p class="productName">Product: Green Apple</p>
            </div>
            <div class="para-stars">
                <div class="stars">
                    <img src="../images/icons/star.svg" alt="" class="star">
                    <img src="../images/icons/star.svg" alt="" class="star">
                    <img src="../images/icons/star.svg" alt="" class="star">
                    <img src="../images/icons/star.svg" alt="" class="star">
                    <img src="../images/icons/star.svg" alt="" class="star">
                </div>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique beatae autem laudantium eum qui aperiam alias, tempore consectetur labore fuga quae nemo? Doloremque repellat nemo cumque iusto dolorem impedit facere eaque unde error omnis.</p>
            </div>
        </div>

        <div class="one-review">
            <div class="profile-img">
                <img src="../images/demo-person.jpg" alt="">
            </div>
            <div class="profile-name">
                <h3 class="name">Ram Bahadur Pokhrel</h3>
                <p class="date">2020-20-20</p>
                <p class="productName">Product: Green Apple</p>
            </div>
            <div class="para-stars">
                <div class="stars">
                    <img src="../images/icons/star.svg" alt="" class="star">
                    <img src="../images/icons/star.svg" alt="" class="star">
                    <img src="../images/icons/star.svg" alt="" class="star">
                    <img src="../images/icons/star.svg" alt="" class="star">
                    <img src="../images/icons/star.svg" alt="" class="star">
                </div>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique beatae autem laudantium eum qui aperiam alias, tempore consectetur labore fuga quae nemo? Doloremque repellat nemo cumque iusto dolorem impedit facere eaque unde error omnis.</p>
            </div>
        </div>

        <div class="one-review">
            <div class="profile-img">
                <img src="../images/demo-person.jpg" alt="">
            </div>
            <div class="profile-name">
                <h3 class="name">Ram Bahadur Pokhrel</h3>
                <p class="date">2020-20-20</p>
                <p class="productName">Product: Green Apple</p>
            </div>
            <div class="para-stars">
                <div class="stars">
                    <img src="../images/icons/star.svg" alt="" class="star">
                    <img src="../images/icons/star.svg" alt="" class="star">
                    <img src="../images/icons/star.svg" alt="" class="star">
                    <img src="../images/icons/star.svg" alt="" class="star">
                    <img src="../images/icons/star.svg" alt="" class="star">
                </div>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique beatae autem laudantium eum qui aperiam alias, tempore consectetur labore fuga quae nemo? Doloremque repellat nemo cumque iusto dolorem impedit facere eaque unde error omnis.</p>
            </div>
        </div>
    </div>

    <div class="pages container">
        <img src="../images/icons/arrow.svg" class="larr">
        <div class="links">
            <a href="#" class="Link">1</a>
            <a href="#" class="Link">1</a>
            <a href="#" class="Link">1</a>
            <a href="#" class="Link">1</a>
            <a href="#" class="Link">1</a>
            <a href="#" class="Link">1</a>
        </div>
        <img src="../images/icons/arrow.svg" class="rarr">
    </div>

</body>

</html>