<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/producer-register.css">
</head>
<body>
    <nav class="top-nav">
        <div class="container navigation">
            <div class="left-nav">
                <a href="#" class="Link nisargi">Nisargi</a>
            </div>

            <div class="middle-nav">
                <h3>Shop Registration Form</h3>
            </div>
        </div>
    </nav>

    <div class="first-hero container">
        <form action="" class="shopForm">
            <h3 class="heading">Please Fill Form About Your Shop</h3>
            <div class="lbl-inp">
                <label for="shopName">Shop Name</label>
                <input type="text" name="shopName">
            </div>
    
            <div class="lbl-inp">
                <label for="phone">Phone</label>
                <input type="text" name="phone">
            </div>
    
            <div class="lbl-inp">
                <label for="address">Shop Address</label>
                <input type="text" name="address">
            </div>
    
            <div class="lbl-inp">
                <label for="bio">About Shop</label>
                <textarea name="bio" rows="7" style="resize: none"></textarea>
            </div>
            
            <div class="lbl-inp">
                <label for="image">Shop Image</label>
                <input type="file" name="image">
            </div>

            <button class="btn">Register Your Shop</button>
        </form>
    </div>
</body>
</html>