<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Producer Home</title>
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/producer-viewReq.css">
</head>

<body>
    <nav class="top-nav">
        <div class="container navigation">
            <div class="left-nav">
                <a href="#" class="Link nisargi">Nisargi</a>
            </div>

            <div class="middle-nav">
                <a href="#" class="Link nav-btn">
                    <p>Products</p>
                    <img src="../images/icons/shopping-bag.svg" alt="" class="icon">
                </a>
                <a href="#" class="Link nav-btn">
                    <p>Orders</p>
                    <img src="../images/icons/queue-list.svg" alt="" class="icon">
                </a>
                <a href="#" class="Link nav-btn">
                    <p>Reviews</p>
                    <img src="../images/icons/star.svg" alt="" class="icon">
                </a>
                <a href="#" class="Link nav-btn">
                    <p>Requests</p>
                    <img src="../images/icons/clipboard.svg" alt="" class="icon">
                </a>

            </div>

            <div class="right-nav">
                <a href="#" class="Link nav-btn">
                    <p>Buyer's Zone</p>
                    <img src="../images/icons/cart.svg" alt="" class="icon">
                </a>
                <a href="#" class="Link nav-btn">
                    <p>Sign In</p>
                    <img src="../images/icons/user-circle.svg" alt="" class="icon">
                </a>
            </div>
        </div>
    </nav>

    <div class="first-hero container">
        <h3 class="heading">Request of Person name and Person</h3>

        <div class="delivery-billing">
            <div class="delivery">
                <h3>Delivery Info</h3>

                <p>
                    <span>Name: </span>
                    <span>Nikesh adhikari</span>
                </p>

                <p>
                    <span>Address: </span>
                    <span>Nikesh adhikari</span>
                </p>

                <p>
                    <span>Phone: </span>
                    <span>Nikesh adhikari</span>
                </p>

                <p>
                    <span>Message: </span>
                    <span class="msg">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur magni qui expedita dolore maiores recusandae adipisci nihil distinctio officia neque, ratione perferendis debitis, tempora earum quaerat, veritatis minima. Veniam eaque cupiditate ab et quasi!</span>
                </p>

                <button>Cancel Request</button>
            </div>
            <div class="billing">
                <h3 class="bill-head">
                    <span>#109292</span>
                    <p>Billing</p>
                    <p>Date: 1020-03-03</p>
                </h3>

                <table>
                    <thead>
                        <th>Product</th>
                        <th>Qty</th>
                        <th>Rate</th>
                        <th>Amount</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Hariyo Syau</td>
                            <td>10</td>
                            <td>100</td>
                            <td>1000</td>
                        </tr>
                    </tbody>

                    <tfoot>
                        <tr>
                            <td colspan="3">Total:</td>
                            <td>Rs.200229</td>
                        </tr>
                    </tfoot>
                </table>

                <button>Back to Active Requests</button>
            </div>

        </div>
    </div>

</body>

</html>