<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Producer Home</title>
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/consumerBillView.css">
</head>

<body>
    <nav class="top-nav">
        <div class="main-nav" id="main-nav">
            <div class="left-nav">
                <a href="./consumer-home.html" class="link"><h3>Nisargi</h3></a>
            </div>

            <div class="middle-nav">

                <div class="cat-btn" id="cat-btn">
                    <p>Category</p>
                    <img src="../images/icons/cat-down.svg" alt="">
                </div>

                <div class="nav-btn">
                    <p>Today's Deal</p>
                </div>

                <div class="nav-btn">
                    <p>Farmer's Zone</p>
                </div>

                <div class="nav-btn">
                    <p>About Us</p>
                </div>

            </div>
            <div class="right-nav">

                <div class="search-bar">
                    <input type="text" placeholder="search here ... ">
                    <img src="../images/icons/search.svg" alt="">
                </div>

                <div class="nav-btn">
                    <img src="../images/icons/user-circle.svg" alt="">
                    <p>Account</p>
                </div>

                <a href="./consumer-cart.html" class="nav-btn cart-btn link">
                    <img src="../images/icons/cart.svg" alt="">
                    <p>Cart</p>
                    <small id="cart-num">99</small>
                </a>
            </div>
        </div>

        <div id="categories" class="categories-display">
            <div>
                <div class="first-group cat-group">
                    <p><a href="#" class="link">Fruits</a></p>
                    <a href="#" class="link">Apple</a>
                    <a href="#" class="link">Mango</a>
                    <a href="#" class="link">Banana</a>
                    <a href="#" class="link">Cucumber</a>
                    <a href="#" class="link">more...</a>
                </div>
                <div class="second-group cat-group">
                    <p><a href="#" class="link">Fruits</a></p>
                    <a href="#" class="link">Apple</a>
                    <a href="#" class="link">Mango</a>
                    <a href="#" class="link">Banana</a>
                    <a href="#" class="link">Cucumber</a>
                    <a href="#" class="link">more...</a>
                </div>
                <div class="third-group cat-group">
                    <p><a href="#" class="link">Fruits</a></p>
                    <a href="#" class="link">Apple</a>
                    <a href="#" class="link">Mango</a>
                    <a href="#" class="link">Banana</a>
                    <a href="#" class="link">Cucumber</a>
                    <a href="#" class="link">more...</a>
                </div>
            </div>
        </div>

        

        <img class="three-bars" id="three-bars" src="../images/icons/3bars.svg" alt="">
    </nav>

    <div class="first-hero container">
        <div class="orderBill">
            <div class="headers">
                <h3 class="heading">Order: #0192300</h3>
                <p>Date: 1020-02-03</p>
            </div>
            <p class="orderInfo">Order By: Nikesh Adhikari</p>
            <p class="orderInfo">Order In: addressdsdsjd, lsdjlsjdljs</p>

            <p class="products orderInfo">Products:</p>
            <div class="orders">
                <div class="oneOrder">
                    <img src="../../uploads/demo_20230606174709.jpg" alt="">
                    <p class="name">This is the name</p>
                    <div class="prodQty">
                        <h4>Rs. 130930</h4>
                        <p>12 kg</p>
                    </div>
                </div>

                <div class="oneOrder">
                    <img src="../../uploads/demo_20230606174709.jpg" alt="">
                    <p class="name">This is the name</p>
                    <div class="prodQty">
                        <h4>Rs. 130930</h4>
                        <p>12 kg</p>
                    </div>
                </div>

                <div class="oneOrder">
                    <img src="../../uploads/demo_20230606174709.jpg" alt="">
                    <p class="name">This is the name</p>
                    <div class="prodQty">
                        <h4>Rs. 130930</h4>
                        <p>12 kg</p>
                    </div>
                </div>

                <div class="oneOrder">
                    <img src="../../uploads/demo_20230606174709.jpg" alt="">
                    <p class="name">This is the name</p>
                    <div class="prodQty">
                        <h4>Rs. 130930</h4>
                        <p>12 kg</p>
                    </div>
                </div>
            </div>

            <div class="total container">
                <p>Total:</p>
                <p>Rs. 2039</p>
            </div>
            <div class="buttons">
                <a href="#" class="btn">Back</a>
                <a href="#" class="btn">Deliver Now</a>
            </div>
        </div>

    </div>
    
</body>

</html>