<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nisargi</title>
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/consumerCategory.css">
</head>

<body>
    <nav class="top-nav">
        <div class="main-nav" id="main-nav">
            <div class="left-nav">
                <a href="./consumer-home.html" class="link"><h3>Nisargi</h3></a>
            </div>

            <div class="middle-nav">

                <div class="cat-btn" id="cat-btn">
                    <p>Category</p>
                    <img src="../images/icons/cat-down.svg" alt="">
                </div>

                <div class="nav-btn">
                    <p>Today's Deal</p>
                </div>

                <div class="nav-btn">
                    <p>Farmer's Zone</p>
                </div>

                <div class="nav-btn">
                    <p>About Us</p>
                </div>

            </div>
            <div class="right-nav">

                <div class="search-bar">
                    <input type="text" placeholder="search here ... ">
                    <img src="../images/icons/search.svg" alt="">
                </div>

                <div class="nav-btn">
                    <img src="../images/icons/user-circle.svg" alt="">
                    <p>Account</p>
                </div>

                <div class="nav-btn cart-btn">
                    <img src="../images/icons/cart.svg" alt="">
                    <p>Cart</p>
                    <small id="cart-num">99</small>
                </div>
            </div>
        </div>

        <div id="categories" class="categories-display">
            <div class="container">
                <div class="first-group cat-group">
                    <p><a href="#" class="link">Fruits</a></p>
                    <a href="#" class="link">Apple</a>
                    <a href="#" class="link">Mango</a>
                    <a href="#" class="link">Banana</a>
                    <a href="#" class="link">Cucumber</a>
                    <a href="#" class="link">more...</a>
                </div>
                <div class="second-group cat-group">
                    <p><a href="#" class="link">Fruits</a></p>
                    <a href="#" class="link">Apple</a>
                    <a href="#" class="link">Mango</a>
                    <a href="#" class="link">Banana</a>
                    <a href="#" class="link">Cucumber</a>
                    <a href="#" class="link">more...</a>
                </div>
                <div class="third-group cat-group">
                    <p><a href="#" class="link">Fruits</a></p>
                    <a href="#" class="link">Apple</a>
                    <a href="#" class="link">Mango</a>
                    <a href="#" class="link">Banana</a>
                    <a href="#" class="link">Cucumber</a>
                    <a href="#" class="link">more...</a>
                </div>
            </div>
        </div>

        

        <img class="three-bars" id="three-bars" src="../images/icons/3bars.svg" alt="">
    </nav>

    <!-- content starts here -->

    <div class="category-top-hero container">
        <div class="name-label">
            <h3>Fruits</h3>
            <div class="label">
                <a href="#">All</a><span>></span><a href="#">Fruits</a>
            </div>
            <small>(92983) results found</small>
        </div>
        <div class="all-cats">
            <!-- contain only 7 -->
            <a href="#" class="one-cat">
                <div class="img">
                    <img src="../images/apple-demo.png" alt="">
                </div>
                <p>Apples</p>
            </a>

            <a href="#" class="one-cat">
                <div class="img">
                    <img src="../images/banana-demo.png" alt="">
                </div>
                <p>Bananas</p>
            </a>

            <a href="#" class="one-cat">
                <div class="img">
                    <img src="../images/carrot-demo.png" alt="">
                </div>
                <p>Carrots</p>
            </a>

            <a href="#" class="one-cat">
                <div class="img">
                    <img src="../images/cucumber-demo.png" alt="">
                </div>
                <p>Cucumbers</p>
            </a>

            <a href="#" class="one-cat">
                <div class="img">
                    <img src="../images/mango-demo.png" alt="">
                </div>
                <p>Mangos</p>
            </a>

            <a href="#" class="one-cat">
                <div class="img">
                    <img src="../images/peach-demo.png" alt="">
                </div>
                <p>Peachs</p>
            </a>

            <a href="#" class="one-cat">
                <div class="img">
                    <img src="../images/pineapple-demo.png" alt="">
                </div>
                <p>Pineapples</p>
            </a>

            <a href="#" class="one-cat">
                <div class="img">
                    <img src="../images/orange-demo.png" alt="">
                </div>
                <p>Oranges</p>
            </a>

            <a href="#" class="one-cat">
                <div class="img">
                    <img src="../images/dragonFruit-demo.png" alt="">
                </div>
                <p>Dragon Fruit</p>
            </a>
        </div>
    </div>

    <div class="container products-container">
        <div class="top-portion">
            <h3>Fruits for You</h3>
            <select>
                <option value="relevance">relevance</option>
                <option value="relevance">low to high</option>
                <option value="relevance">high to low</option>
            </select>
        </div>

        <ul class="products-list">
            <li class="one-product">
                <div class="image">
                    <img class="img" src="../images/apple-demo-product.jpg" alt="">
                </div>
                <div class="content">
                    <h4>Mustang Apples</h4>
                    <h4>मुस्ताङ्ग स्याउ</h4>
                    <p>Raju Kumar Pasal</p>
                    <p class="price">Rs. 10293</p>
                    <div class="stars" id="stars">
                        <img src="../images/icons/star.svg" alt="" class="star">
                        <img src="../images/icons/star.svg" alt="" class="star">
                        <img src="../images/icons/star.svg" alt="" class="star">
                        <img src="../images/icons/star.svg" alt="" class="star">
                        <img src="../images/icons/star.svg" alt="" class="star">
                        <small>(121)</small>
                    </div>
                    <button>Add to Cart</button>
                </div>
            </li>

        </ul>
    </div>

    <div class="paging-container">
        <img src="../images/icons/arrow.svg" class="left-arrow" alt="">
        <div class="pages">
            <a href="#">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
        </div>
        <img src="../images/icons/arrow.svg" class="right-arrow" alt="">
    </div>
    <!-- content ends here -->

    <div class="container">
    <section class="top-footer">
        <div class="first-block block">
            <h3>Shop</h3>
            <a href="#" class="link">Sitemap</a>
            <a href="#" class="link">Nisargi Blog</a>
            <a href="#" class="link">Random Product</a>
        </div>

        <div class="second-block block">
            <h3>Sell</h3>
            <a href="#" class="link">Sell on Nisargi</a>
            <a href="#" class="link">Farmer's Zone</a>
            <a href="#" class="link">Forum</a>
        </div>

        <div class="third-block block">
            <h3>About</h3>
            <a href="#" class="link">Nisargi</a>
            <a href="#" class="link">Policies</a>
            <a href="#" class="link">Terms & Use</a>
            <a href="#" class="link">Legal Imprints</a>
        </div>

        <div class="fourth-block block">
            <h3>Help</h3>
            <a href="#" class="link">Help Center</a>
            <a href="#" class="link">Privacy Setting</a>
            <p>Find Us</p>
            <p>Kathmandhu, Nepal</p>
            <p>number not available</p>
        </div>
    </section>
</div>

    <footer class="">
        <div class="container">
            <p>Nepal | English | Rs.(NPR)</p>
            <p>&copy; 2023 Nisargi</p>
        </div>
    </footer>

<script src="./js/main.js"></script>
<script>
    // temporary for printing 8 blocks
    const products_list = document.querySelector('.products-list');
    function makeProducts(){
        let inHtml = "";
        for(let i=1; i<20; i++){
            inHtml += `

            <li class="one-product">
                <div class="image">
                    <img class="img" src="../images/apple-demo-product.jpg" alt="">
                </div>
                <div class="content">
                    <h4>Mustang Apples</h4>
                    <h4>मुस्ताङ्ग स्याउ</h4>
                    <p>Raju Kumar Pasal</p>
                    <p class="price">Rs. 10293</p>
                    <div class="stars" id="stars">
                        <img src="../images/icons/star.svg" alt="" class="star">
                        <img src="../images/icons/star.svg" alt="" class="star">
                        <img src="../images/icons/star.svg" alt="" class="star">
                        <img src="../images/icons/star.svg" alt="" class="star">
                        <img src="../images/icons/star.svg" alt="" class="star">
                        <small>(121)</small>
                    </div>
                    <button>Add to Cart</button>
                </div>
            </li>

            `;
        }
        products_list.innerHTML += inHtml;
    }
    makeProducts();


</script>
</body>

</html>