<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nisargi</title>
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/consumerHome.css">
</head>

<body>
    <nav class="top-nav">
        <div class="main-nav" id="main-nav">
            <div class="left-nav">
                <a href="./consumer-home.html" class="link"><h3>Nisargi</h3></a>
            </div>

            <div class="middle-nav">

                <div class="cat-btn" id="cat-btn">
                    <p>Category</p>
                    <img src="../images/icons/cat-down.svg" alt="">
                </div>

                <div class="nav-btn">
                    <p>Today's Deal</p>
                </div>

                <div class="nav-btn">
                    <p>Farmer's Zone</p>
                </div>

                <div class="nav-btn">
                    <p>About Us</p>
                </div>

            </div>
            <div class="right-nav">

                <div class="search-bar">
                    <input type="text" placeholder="search here ... ">
                    <img src="../images/icons/search.svg" alt="">
                </div>

                <div class="nav-btn">
                    <img src="../images/icons/user-circle.svg" alt="">
                    <p>Account</p>
                </div>

                <a href="./consumer-cart.html" class="nav-btn cart-btn link">
                    <img src="../images/icons/cart.svg" alt="">
                    <p>Cart</p>
                    <small id="cart-num">99</small>
                </a>
            </div>
        </div>

        <div id="categories" class="categories-display">
            <div class="container">
                <div class="first-group cat-group">
                    <p><a href="#" class="link">Fruits</a></p>
                    <a href="#" class="link">Apple</a>
                    <a href="#" class="link">Mango</a>
                    <a href="#" class="link">Banana</a>
                    <a href="#" class="link">Cucumber</a>
                    <a href="#" class="link">more...</a>
                </div>
                <div class="second-group cat-group">
                    <p><a href="#" class="link">Fruits</a></p>
                    <a href="#" class="link">Apple</a>
                    <a href="#" class="link">Mango</a>
                    <a href="#" class="link">Banana</a>
                    <a href="#" class="link">Cucumber</a>
                    <a href="#" class="link">more...</a>
                </div>
                <div class="third-group cat-group">
                    <p><a href="#" class="link">Fruits</a></p>
                    <a href="#" class="link">Apple</a>
                    <a href="#" class="link">Mango</a>
                    <a href="#" class="link">Banana</a>
                    <a href="#" class="link">Cucumber</a>
                    <a href="#" class="link">more...</a>
                </div>
            </div>
        </div>

        

        <img class="three-bars" id="three-bars" src="../images/icons/3bars.svg" alt="">
    </nav>

    <section class="first-hero">
        <img class="bg-img" src="../images/firstHeroBg.svg" alt="">
        <div class="left-hero">
            <h3 class="heading">Fresh From Farm Straight to your door</h3>
            <p>At Nisargi, we're dedicated to bringing you the freshest and most flavorful produce straight from the
                farm to your doorstep. Trust Nisargi to deliver nature's bounty to your door, and enjoy the authentic
                taste of farm-fresh goodness.</p>
            <a href="#" class="btn">
                Discover Our Product
            </a>
        </div>
    </section>

    <section class="second-hero container">
        <h3>Shop Top Product Category</h3>
        <div class="items-lists">
            <a href="./consumer-category.html" class="item-box">
                <p>Fruits</p>
                <img src="../images/demo-fruits.jpg" alt="">
            </a>

            <a href="#" class="item-box">
                <p>Vegetable</p>
                <img src="../images/demo-vegetable.jpg" alt="">
            </a>

            <a href="#" class="item-box">
                <p>Frozen</p>
                <img src="../images/demo-frozen.jpg" alt="">
            </a>

            <a href="#" class="item-box">
                <p>Meat</p>
                <img src="../images/demo-meat.jpg" alt="">
            </a>

            <a href="#" class="item-box">
                <p>Pickel</p>
                <img src="../images/demo-pickel.jpg" alt="">
            </a>

            <a href="#" class="item-box">
                <p>Herbs</p>
                <img src="../images/demo-herbs.jpg" alt="">
            </a>
        </div>
    </section>

    <section class="third-hero container">
        <h3>Services To Help You Shop</h3>

        <div class="services-lists">

            <div class="service-box">
                <h3>Frequently Asked Questions</h3>
                <p>Have any question? here you can find answer.</p>
                <div class="img-box">
                    <img src="../images/hands-n-mobile.jpg" alt="">
                </div>
            </div>

            <div class="service-box">
                <h3>About Nisargi <br> Products</h3>
                <p>Have any question? here you can find answer.</p>
                <div class="img-box">
                    <img src="../images/veg-bag.jpg" alt="">
                </div>
            </div>

            <div class="service-box">
                <h3>Delivery and payment options</h3>
                <p>Have any question? here you can find answer.</p>
                <div class="img-box">
                    <img src="../images/money-hand.jpg" alt="">
                </div>
            </div>
        </div>
    </section>


    <div class="container">
    <section class="top-footer">
        <div class="first-block block">
            <h3>Shop</h3>
            <a href="#" class="link">Sitemap</a>
            <a href="#" class="link">Nisargi Blog</a>
            <a href="#" class="link">Random Product</a>
        </div>

        <div class="second-block block">
            <h3>Sell</h3>
            <a href="#" class="link">Sell on Nisargi</a>
            <a href="#" class="link">Farmer's Zone</a>
            <a href="#" class="link">Forum</a>
        </div>

        <div class="third-block block">
            <h3>About</h3>
            <a href="#" class="link">Nisargi</a>
            <a href="#" class="link">Policies</a>
            <a href="#" class="link">Terms & Use</a>
            <a href="#" class="link">Legal Imprints</a>
        </div>

        <div class="fourth-block block">
            <h3>Help</h3>
            <a href="#" class="link">Help Center</a>
            <a href="#" class="link">Privacy Setting</a>
            <p>Find Us</p>
            <p>Kathmandhu, Nepal</p>
            <p>number not available</p>
        </div>
    </section>
</div>

    <footer class="">
        <div class="container">
            <p>Nepal | English | Rs.(NPR)</p>
            <p>&copy; 2023 Nisargi</p>
        </div>
    </footer>

<script src="./js/main.js"></script>
</body>

</html>