<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nisargi</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/consumerHome.css">
</head>
<body>
    <nav class="top-nav">
        <div class="main-nav">
            <div class="left-nav">
                <h3>Nisargi</h3>
            </div>

            <div class="middle-nav flex-row">

                <div class="cat-btn">
                    <p>Category</p>
                    <img src="../images/icons/cat-down.svg" alt="">
                </div>

                <div class="nav-btn">
                    <p>Today's Deal</p>
                </div>

                <div class="nav-btn">
                    <p>Farmer's Zone</p>
                </div>

                <div class="nav-btn">
                    <p>About Us</p>
                </div>
                
            </div>
            <div class="right-nav flex-row">

                <div class="search-bar">
                    <input type="text" placeholder="search here ... ">
                    <img src="../images/icons/search.svg" alt="">
                </div>

                <div class="nav-btn">
                    <img src="../images/icons/user-circle.svg" alt="">
                    <p>Account</p>
                </div>

                <div class="nav-btn">
                    <img src="../images/icons/cart.svg" alt="">
                    <p>Cart</p>
                </div>
            </div>
        </div>
    </nav>

    <section class="first-hero">
        <img class="bg-img" src="../images/firstHeroBg.svg" alt="">
        <div class="left-hero">
            <h3 class="heading">Fresh From Farm Straight to your door</h3>
            <p>At Nisargi, we're dedicated to bringing you the freshest and most flavorful produce straight from the farm to your doorstep. Trust Nisargi to deliver nature's bounty to your door, and enjoy the authentic taste of farm-fresh goodness.</p>
            <a href="#" class="btn">
                Discover Our Product
            </a>
        </div>
    </section>

    <section class="second-hero p-2 border-bottom">
        <h3>Shop Top Product Category</h3>
        <div class="flex-row space-between mt-2">
            <div class="item-box" >
                <p>Fruits</p>
                <img src="../images/demo-fruits.jpg" alt="">
            </div>

            <div class="item-box" >
                <p>Vegetable</p>
                <img src="../images/demo-vegetable.jpg" alt="">
            </div>

            <div class="item-box" >
                <p>Frozen</p>
                <img src="../images/demo-frozen.jpg" alt="">
            </div>

            <div class="item-box" >
                <p>Meat</p>
                <img src="../images/demo-meat.jpg" alt="">
            </div>

            <div class="item-box" >
                <p>Pickel</p>
                <img src="../images/demo-pickel.jpg" alt="">
            </div>

            <div class="item-box" >
                <p>Herbs</p>
                <img src="../images/demo-herbs.jpg" alt="">
            </div>
        </div>
    </section>

    <section class="third-hero p-2 border-bottom">
        <h3>Services To Help You Shop</h3>

        <div class="flex-row space-between mt-2">

            <div class="service-box">
                <h3>Frequently Asked Questions</h3>
                <p>Have any question? here you can find answer.</p>
                <div class="img-box">
                    <img src="../images/hands-n-mobile.jpg" alt="">
                </div>
            </div>

            <div class="service-box">
                <h3>About Nisargi <br> Products</h3>
                <p>Have any question? here you can find answer.</p>
                <div class="img-box">
                    <img src="../images/veg-bag.jpg" alt="">
                </div>
            </div>

            <div class="service-box">
                <h3>Delivery and payment options</h3>
                <p>Have any question? here you can find answer.</p>
                <div class="img-box">
                    <img src="../images/money-hand.jpg" alt="">
                </div>
            </div>
        </div>
    </section>

    <section class="top-footer p-2 flex-row space-between">
        <div class="first-block block flex-column">
            <h3>Shop</h3>
            <a href="#" class="link">Sitemap</a>
            <a href="#" class="link">Nisargi Blog</a>
            <a href="#" class="link">Random Product</a>
        </div>

        <div class="second-block block flex-column">
            <h3>Sell</h3>
            <a href="#" class="link">Sell on Nisargi</a>
            <a href="#" class="link">Farmer's Zone</a>
            <a href="#" class="link">Forum</a>
        </div>

        <div class="third-block block flex-column">
            <h3>About</h3>
            <a href="#" class="link">Nisargi</a>
            <a href="#" class="link">Policies</a>
            <a href="#" class="link">Terms & Use</a>
            <a href="#" class="link">Legal Imprints</a>
        </div>

        <div class="fourth-block block flex-column">
            <h3>Help</h3>
            <a href="#" class="link">Help Center</a>
            <a href="#" class="link">Privacy Setting</a>
            <p>Find Us</p>
            <p>Kathmandhu, Nepal</p>
            <p>number not available</p>
        </div>
    </section>
    <footer class="flex-row px-2 space-between">
        <p>Nepal | English | Rs.(NPR)</p>
        <p>&copy; 2023 Nisargi</p>
    </footer>
</body>
</html>