.first-hero{
    display: flex;
    height: 80vh;
    width: 100vw;
    overflow: hidden;
    max-width: var(--max-screen-width);
    margin: 0 auto;
}
.left-hero{
    width: 50%;
    margin-left: 1rem;
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    justify-content: center;
}
.left-hero .heading{
    width: 60%;
    font-size: 2rem;
}
.left-hero p{
    text-align: justify;
}
.second-hero, .third-hero{
    padding: 2rem;
    border-bottom: 1px solid var(--gray-500);
}
.second-hero .items-lists{
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.third-hero .services-lists{
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (max-width: 576px) {
    .left-hero{
        width: 100%;
    }
    .left-hero .heading{
        width: 80%;
        font-size: 1.5rem;
    }
    .left-hero p{
        font-size: 0.9rem;
        width: 90%;
    }
    .second-hero .items-lists{
        justify-content: center;
    }
    .third-hero .services-lists{
        justify-content: center;
    }

}

@media (min-width: 576px) and (max-width: 993px) {
    .first-hero{
        margin-top: 7rem;
    }
    .left-hero{
        width: 80%;
    }
    .left-hero .heading{
        width: 70%;
    }
    .second-hero .items-lists{
        gap: 2rem;
    }
    .third-hero .services-lists{
        justify-content: center;
    }
}

@media (min-width: 1500px){
    .left-hero{
        width: 60%;
        gap: 1.6rem;
    }
    .left-hero .heading{
        font-size: 2.5rem;
    }
    .left-hero p{
        font-size: 1.3rem;
    }
    .btn{
        font-size: 1.5rem;
    }
}