.first-container{
    margin-top: var(--nav-size);
    padding: 1rem 2rem;
    min-height: 60vh;
}

.first-container .heading{
    text-align: center;
    margin-bottom: 1rem;
}

.profile-update-form{
    background-color: var(--irish-100);
    border: 2px solid var(--gray-300);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 2rem;
    width: 35%;
    position: relative;
    margin: 0 auto;
}
.profile-update-form .inp-label{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.profile-update-form .inp-label label{
    text-transform: capitalize;
}
.profile-update-form .inp-label input{
    padding: 0 0.3rem;
}
.profile-update-form .btn{
 font-size: 1.0rem;
 width: 100%;
}
.changePass{
    text-decoration: underline;
}

.photo-container{
    position: absolute;
    right: -11rem;
}


label.label input[type="file"] {
    position: absolute;
    top: -1000px;
}

.label {
    cursor: pointer;
    border: 2px solid var(--gray-400);
    border-radius: 5px;
    overflow: hidden;
    padding: 5px 15px;
    margin: 5px;
    height: 10rem;
    width: 10rem;
    display: inline-block;
    position: relative;
}

.label span {
    position: absolute;
    bottom: 0rem;
    left: 0;
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: #ffffff;
    background-color: #000000ad;
    text-align: center;
    width: 100%;
}

.inputImg {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.label:hover {
    background: #5cbd95;
}

.label:active {
    background: #9fa1a0;
}

.label:invalid+span {
    color: #000000;
}

.label:valid+span {
    color: #ffffff;
}