.category-top-hero{
    margin-top: var(--nav-size);
    padding: 1rem 2rem 1rem 2rem;
    background-color: var(--irish-100);
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid var(--gray-500);
}
.name-label{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 18%;
}
.name-label h3{
    font-size: 1.5rem;
}
.all-cats{
    display: flex;
    flex-direction: row;
    overflow: hidden;
    gap: 2rem;
    width: 80%;
}
.all-cats .one-cat{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}
.all-cats .one-cat p{
    font-weight: 600;
    margin-top: 5px;
    text-align: center;
    font-size: 0.9rem;
}
.all-cats .one-cat img{
    border: 1px solid var(--gray-500);
    border-radius: 50%;
    height: 5.5rem;
    width: 5.5rem;
}
.all-cats .one-cat img:hover{
    opacity: 0.8;
    transition: 0.2s ease;
}

/* product container starts */
.products-container{
    padding: 1rem 2rem 1rem 2rem;
}
.products-container .top-portion{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.products-list{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    list-style: none;
    gap: 1rem;
}
.one-product .image{
    position: relative;
}
.one-product .image img{
    object-fit: cover;
    height: 11rem;
    width: 11rem;
    border: 1px solid var(--gray-500);
    border-radius: 20px;
}
.one-product{
    width: min-content;
    background-color: var(--irish-100);
    padding: 1rem;
    border-radius: 0.5rem;
    border: 2px solid var(--gray-200);
    display: flex;
    flex-direction: column;
}
.one-product .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 0.3rem;
    text-align: center;
    height: 100%;
    text-transform: capitalize;
}
.one-product .content .stars{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.one-product .content .stars .star{
    height: 1.3rem;
    width: 1.3rem;
}
.one-product .content .stars small{
    font-size: 1.1rem;
}

.one-product .content .price{
    font-weight: 700;
}
.one-product .content button{
    font-size: 1.0rem;
    padding: 0.3rem 0.5rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: 0.5s ease;
    background-color: var(--irish-300);
}
.one-product .content button:hover{
    background-color: var(--irish-500);
    color: var(--gray-100);
    transition: 0.5s ease;
}
.paging-container{
    display: flex;
    padding: 1rem 2rem;
    gap: 1rem;
}
.paging-container .pages{
    display: flex;
    gap: 1rem;
}
.paging-container .pages a{
    text-decoration: none;
}
.paging-container .left-arrow{
    height: 1.5rem;
    width: 1.5rem;
    transform: rotateZ(90deg);
    cursor: pointer;
}
.paging-container .right-arrow{
    height: 1.5rem;
    width: 1.5rem;
    transform: rotateZ(-90deg);
    cursor: pointer;
}
.one-product .content button.inCart{
    background-color: var(--pink-300);
}
.one-product .content button.inCart:hover{
    background-color: var(--pink-500);
    color: var(--gray-100);
}

@media (max-width: 1384px) {
    .all-cats .one-cat img{
        height: 4rem;
        width: 4rem;
    }
    
}
@media (max-width: 1161px) {
    .one-product{
        padding: 0.5rem;
    }
    .products-list{
        grid-template-columns: repeat(4, 1fr);
    }
    .all-cats .one-cat:nth-child(8),
    .all-cats .one-cat:nth-child(9)
    {
        display: none;
    }
}

@media (max-width: 920px) {
    .category-top-hero{
        margin-top: var(--top-nav-tSize);
    }
    .products-list{
        grid-template-columns: repeat(4, 1fr);
    }
    .one-product .image img{
        height: 9rem;
        width: 9rem;
    }
    .all-cats .one-cat:nth-child(6),
    .all-cats .one-cat:nth-child(7),
    .all-cats .one-cat:nth-child(8),
    .all-cats .one-cat:nth-child(9)
    {
        display: none;
    }
    .products-list{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 576px) {
    .name-label h3{
        font-size: 1.2rem;
    }
    .name-label .label{
        font-size: 0.8rem;
    }
    .name-label small{
        font-size: 0.8rem;
    }
    .category-top-hero{
        margin-top: var(--top-nav-mSize);
    }
    .category-top-hero{
        flex-direction: column;
    }
    .name-label{
        flex-direction: row;
        align-items: center;
        width: 100%;
    }
    .all-cats{
        width: 100%;
        gap: 1rem;
    }
    .all-cats .one-cat:nth-child(5),
    .all-cats .one-cat:nth-child(6),
    .all-cats .one-cat:nth-child(7),
    .all-cats .one-cat:nth-child(8),
    .all-cats .one-cat:nth-child(9)
    {
        display: none;
    }
    .all-cats .one-cat img{
        height: 2.1rem;
        width: 2.1rem;
    }
    .all-cats .one-cat p{
        font-size: 0.6rem;
    }
    .products-list{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 0.5rem;
    }
    .one-product .image img{
        height: 8rem;
        width: 8rem;
    }
    .one-product .content h4{
        font-size: 0.9rem;
    }
    .one-product .content p{
        font-size: 0.8rem;
    }
    .one-product .content .stars .star{
        height: 1rem;
        width: 1rem;
    }
    .one-product .content .stars small{
        font-size: 0.9rem;
    }
    .one-product .content button{
        font-size: 0.8rem;
    }
}