.first-hero{
    margin-top: var(--nav-size);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.shopForm{
    width: 40vw;
    background-color: var(--gray-100);
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.shopForm .heading{
    text-align: center;
    border-bottom: 1px solid var(--gray-900);
    padding-bottom: 0.3rem;
}
.shopForm .lbl-inp{
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-self: center;
}
.shopForm .lbl-inp input, .shopForm .lbl-inp textarea{
    width: 16rem;
    padding: 0.2rem 0.3rem;
}
.shopForm .btn{
    font-size: 1.1rem;
    padding: 0.1rem;
    width: 23rem;
    border-radius: 10px;
    background-color: var(--irish-500);
    color: var(--gray-100);
    align-self: center;
    margin-top: 0.5rem;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.3s ease;
}
.shopForm .btn:hover{
    background-color: var(--irish-300);
    color: var(--gray-900);
    transition: 0.3s ease;
}